*{
  list-style: none;
  text-decoration: none ;
}

body {
  // font-family: "Merriweather", serif ;
  font-family: "Inter",sans-serif;;
  // background-color: $primary_bg;
}

a {
  color: $purple-700;
}

a:hover {
  color: $purple-500;
}

.btn-first {
  padding: 12px 24px !important;
  border-radius: 8px;
  border: 1px solid $button_color;
  background-color: $button_color;
  color: #FFF;

  &:hover {
    background-color: #9ab812;
    color: #efecec;
  }
}

.btn-second {
  padding: 12px 24px !important;
  border-radius: 8px;
  border: 1px solid $button_color;
  color: $button_color;

  &:hover {
    background-color: $button_color;
    color: #FFF;
  }
}

.btn-first-sm {
  padding: 6px 12px !important;
  border-radius: 5px;
  border: 1px solid $button_color !important;
  background-color: $button_color !important;
  color: #FFF;
  font-size: 0.875rem !important;

  &:hover {
    background-color: #9ab812;
    color: #efecec;
  }
}

.input-group {
  width: 50%;
   
  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}

.navbar {
  .navbar-brand {
    color: $accen;
    font-size: 22px;
    font-weight: map-get($fonts_weight, bold );

    span {
      color: $button_color;
    }
  }

  .nav-item {
    i {
      font-size: 25px;
    }
  }
}

.menu-wrapper {
  margin-top: 120px;

  a  {
    margin: 0 25px;
  }
}

.header {
  margin-top: 200px;

  @include media-breakpoint-down(md) {
    margin-top: 120px;
  }
}

.popular, .latest {
  margin-top: 150px;

  .product-name {
    font-size: 16px;
    font-weight: map-get($fonts_weight , light );
    color: $accen;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  .price {
    font-size: 18px;
    font-weight: map-get($fonts_weight , bold);
    color: $accen;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  .rating {
    i {
      font-size: 20px;
      color: #f7c932;
    }
  }

  .btn-cart {
    padding: 8px 10px;
    border-radius: 8px;

    @include media-breakpoint-down(sm) {
      padding: 6px 8px;
    }

    i {
      font-size: 30px;
      color: $accen;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }
  }
}

.products {
  .product-name {
    font-size: 16px;
    font-weight: map-get($fonts_weight , light );
    color: $accen;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  .card-product {
    margin-top: 20px;
  }

  .price {
    font-size: 18px;
    font-weight: map-get($fonts_weight , bold);
    color: $accen;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  .rating {
    i {
      font-size: 20px;
      color: #f7c932;
    }
  }

  .btn-cart {
    padding: 8px 10px;
    border-radius: 8px;

    @include media-breakpoint-down(sm) {
      padding: 6px 8px;
    }

    i {
      font-size: 30px;
      color: $accen;

      @include media-breakpoint-down(sm) {
        font-size: 16px;
      }
    }
  }
}

.breadcrumb-section {
  margin-top: 98px;

  @include media-breakpoint-down(lg) {
    margin-top: 92px;
  }
}

.breadcrumb-section ol{
  padding-bottom: 0;
}

.breadcrumb {
  --bs-breadcrumb-margin-bottom: 0;
  font-size: 14px;
}

.breadcrumb .breadcrumb-item.active {
  color: #8898aa;
}

.main-content .shop-by-price .price-filter {
  display: block;
  margin-top: 20px;
}

.main-content .shop-by-price #slider-range {
  box-shadow: none;
  border: none;
  height: 4px;
  background: #5e72e4;
  color: #5e72e4;
  border-radius: 0px;
}

.main-content .shop-by-price #slider-range .ui-slider-range {
  box-shadow: none;
  background: #222;
  border-radius: 0px;
  border: none;
}

.main-content .shop-by-price .ui-slider-handle.ui-state-default.ui-corner-all {
  width: 14px;
  height: 14px;
  line-height: 10px;
  background: #222;
  border: none;
  border-radius: 100%;
  top: -5px;
}

.main-content .shop-by-price .label-input {
  margin-top: 15px;
}

.main-content .shop-by-price .label-input>button {
  background-color: transparent;
  border: medium none;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  padding: 4px 0 0;
  text-transform: capitalize;
  font-size: 14px;
}

.main-content .shop-by-price .ui-slider-handle.ui-state-default.ui-corner-all {
  background: #3d55df;
  color: #3d55df;
  cursor: pointer;
}

.main-content .shop-by-price .label-input input {
  border: none;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #222;
  background: transparent;
}

.main-content .shop-by-price .check-box-list {
  margin-top: 15px;
}

.main-content .shop-by-price .check-box-list li {
  margin-bottom: 5px;
}

.main-content .shop-by-price .check-box-list li:last-child {
  margin: 0;
}

.main-content .shop-by-price .check-box-list li label input {
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: 1px;
}

.main-content .shop-by-price .check-box-list li label {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  cursor: pointer;
}

.main-content .shop-by-price .check-box-list .count {
  margin-left: 5px;
  color: #666;
}

.text-dark {
  font-weight: 500;
}

.subscribe {
  margin-top: 150px;

  .container {
    .subscribe-wrapper {
      background-color: #faf5d2;
      border-radius: 12px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

      .col-sub {
        padding: 120px 0;
      }
    }
  }
}

.section-header h2 {
  font-size: 2rem;
}

.widget-title h5{
  font-size: 1.09375rem;
  font-weight: map-get($fonts_weight, bold );
}

.widget-categories ul li {
  font-size: 0.875rem;
}

.nav-category .nav-item .nav-link {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0;
}

.widget-categories ul li a {
  color: #333;
  font-weight: map-get($fonts_weight, medium );
}

footer {
  margin-top: 150px;
  background-color: #463C74;
  color: #ced4da;
  font-size: 14px;

  .row-content {
    .logo-brand {
      font-size: 30px;
      color: $button_color;

      span {
        color: $button_color;
      }
    }

    h3 {
      font-size: 25px;
      color: $button_color;
    }

    a {
      color: #ced4da;

      &:hover {
        color: #faf5d2;
      }
    }
  }

  .row-copy {
    i {
      font-size: 25px;
      color: $button_color;
    }
  }
}